@charset "utf-8";

body {
    background-color: #107a28;

}

#wrapper {
    margin: auto;
    width: 960px;
    height: 700px;
    background-color: #808000;
}

#caja1 {
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #80ff40;
    float: left;
}

#caja2 {
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #80ff40;
    float: left;
}

#caja3 {
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #80ff40;
    float: left;
}

#caja4 {
    width: 940px;
    height: 580PX;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    background-color: #023f40;
    clear: both;
    /*
position:absolute; 
top:200px;
 */
    position: relative;
    top: 10px;
}

#imagen1 {
    position: relative;
    top: 10px;
    right: -10px;
}

#texto1 {
    width: 500px;
    height: 550PX;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #008083;
    padding: 5px;
    float: right;
    right: -10px;
    top: 10px;
}
#texto2 {
    /* background-color: #107a28; */
    width: auto;
    height: 300px;
    position: relative;
    float: left;
    left: 70px;
    top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    
}

#AddEstudiante {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    right: 50px;
    border: 3px solid #5c5c5c;
    padding: 10px;
    position: relative;
    left: 20px;
}
#AddCarrera {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    right: 50px;
    border: 3px solid #5c5c5c;
    padding: 10px;
}
#carrera {
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: 5px;
    float: right;
} 

#estudiante {
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: 5px;
    float: right;
} 
