@charset "utf-8";

body {
    background-color: #107a28;
}

#wrapper {
    margin: auto;
    width: 960px;
    height: 350px;
    background-color: #808000;
}

#caja1 {
    width: 300px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #FFC;
    float: left;
    text-align: center;
    font-weight: bold;
}

#caja2 {
    width: 300px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #FFC;
    float: left;
    text-align: center;
    font-weight: bold;
}

#caja3 {
    width: 300px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #FFC;
    float: left;
    text-align: center;
    font-weight: bold;

}

#caja4 {
    width: 940px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    background-color: #023f40;
    clear: both;
    /*
 position:absolute; 
 top:200px;
*/

    position: relative;
    top: 10px;
}

#imagen1 {
    position: relative;
    top: 10px;
    right: -10px;
}

#texto1 {
    width: 900px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #CCC;
    padding: 5px;
    float: right;
    right: -10px;
    top: 10px;
}